List Comprehensions

In [3]:
vectors = [(0,0), (0,1), (1,0), (1,1)]

In [4]:
from math import sqrt

In [5]:
magnitudes = []

for vector in vectors:
    magnitude = sqrt(vector[0] ** 2 + vector[1] ** 2)
    magnitudes.append(magnitude)

magnitudes

[0.0, 1.0, 1.0, 1.4142135623730951]

In [8]:
magnitudes = [sqrt(vector[0] ** 2 + vector[1] ** 2) for vector in vectors]
magnitudes

[0.0, 1.0, 1.0, 1.4142135623730951]

In [9]:
from time import perf_counter

In [10]:
start = perf_counter()

for i in range (100_000):
    magnitudes = []

    for vector in vectors:
        magnitude = sqrt(vector[0] ** 2 + vector[1] ** 2)
        magnitudes.append(magnitude)

end = perf_counter()

elasped_time = end - start
elasped_time

0.060830900009023026

In [11]:
start = perf_counter()
for i in range (100_000):
    magnitudes = [sqrt(vector[0] ** 2 + vector[1] ** 2) for vector in vectors]
end = perf_counter()

elasped_time = end - start
elasped_time

0.049319700003252365

In [13]:
string = 'python is a cool language'.split(' ')

In [14]:
string

['python', 'is', 'a', 'cool', 'language']

In [15]:
filtered = []
for letter in string:
    if len(letter) > 5:
        filtered.append(letter)
filtered

['python', 'language']

In [16]:
filtered = [letter for letter in string if len(letter) > 5]
filtered

['python', 'language']

In [19]:
sales = {
    'widget 1': 0,
    'widget 2': 5,
    'widget 3': 10,
    'widget 4': 3,
}

In [20]:
high_sales = []
for key, value in sales.items():
    if value >= 5:
        high_sales.append(key)
high_sales

['widget 2', 'widget 3']

In [22]:
high_sales = [key for key, value in sales.items() if value >= 5]
high_sales

['widget 2', 'widget 3']

In [23]:
m = [[0] * 3] * 3

In [24]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [25]:
m[0] is m[1]

True

In [26]:
m[0][0] = 100

In [27]:
m

[[100, 0, 0], [100, 0, 0], [100, 0, 0]]

In [28]:
m = [[0,0,0] for row in range(3)]

In [29]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [30]:
m[0] is m[1]

False

In [31]:
m[0][0] = 100

In [32]:
m

[[100, 0, 0], [0, 0, 0], [0, 0, 0]]

In [33]:
m = [[0,0,0] for _ in range(3)]

In [34]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [35]:
m = [[0] * 3 for _ in range(3)]

In [36]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [37]:
for row in range(3):
    for col in range(3):
        if row == col:
            m[row][col] = 1

In [38]:
m

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [39]:
m = [ [1 if row == col else 0 for col in range(3)] for row in range(3)]

In [40]:
m

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

Dictionaries and Set Comprehensions

In [42]:
widget_sales = [
    {'name': 'widget 1', 'sales': 10},
    {'name': 'widget 2', 'sales': 5},
    {'name': 'widget 3', 'sales': 0}
]

In [43]:
sales_by_widget = {}
for d in widget_sales:
    widget_name = d['name']
    sales = d['sales']
    sales_by_widget[widget_name] = sales
sales_by_widget

{'widget 1': 10, 'widget 2': 5, 'widget 3': 0}

In [44]:
sales_by_widget = {}
for d in widget_sales:
    sales_by_widget[d['name']] = d['sales']
sales_by_widget

{'widget 1': 10, 'widget 2': 5, 'widget 3': 0}

In [45]:
sales_by_widget = {d['name']:d['sales'] for d in widget_sales}
sales_by_widget

{'widget 1': 10, 'widget 2': 5, 'widget 3': 0}

In [46]:
sales_by_widget = {d['name']:d['sales'] for d in widget_sales if d['sales'] > 0}
sales_by_widget

{'widget 1': 10, 'widget 2': 5}

For simplicity, we'll assume that the paragraph only contains alphanumeric characters as well as these punctuation marks: ,, ., !, ?, :, -, --, \n

In [48]:
paragraph = """
To be, or not to be--that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune
Or to take arms against a sea of troubles
And by opposing end them. To die, to sleep--
No more--and by a sleep to say we end
The heartache, and the thousand natural shocks
That flesh is heir to.
"""

In [49]:
punctuation = ",.!:-\n"

In [50]:
for char in punctuation:
    paragraph = paragraph.replace(char, ' ')

In [51]:
paragraph

" To be  or not to be  that is the question  Whether 'tis nobler in the mind to suffer The slings and arrows of outrageous fortune Or to take arms against a sea of troubles And by opposing end them  To die  to sleep   No more  and by a sleep to say we end The heartache  and the thousand natural shocks That flesh is heir to  "

In [52]:
all_words = paragraph.split()

In [53]:
all_words

['To',
 'be',
 'or',
 'not',
 'to',
 'be',
 'that',
 'is',
 'the',
 'question',
 'Whether',
 "'tis",
 'nobler',
 'in',
 'the',
 'mind',
 'to',
 'suffer',
 'The',
 'slings',
 'and',
 'arrows',
 'of',
 'outrageous',
 'fortune',
 'Or',
 'to',
 'take',
 'arms',
 'against',
 'a',
 'sea',
 'of',
 'troubles',
 'And',
 'by',
 'opposing',
 'end',
 'them',
 'To',
 'die',
 'to',
 'sleep',
 'No',
 'more',
 'and',
 'by',
 'a',
 'sleep',
 'to',
 'say',
 'we',
 'end',
 'The',
 'heartache',
 'and',
 'the',
 'thousand',
 'natural',
 'shocks',
 'That',
 'flesh',
 'is',
 'heir',
 'to']

In [54]:
words = {word for word in all_words}

In [55]:
words

{"'tis",
 'And',
 'No',
 'Or',
 'That',
 'The',
 'To',
 'Whether',
 'a',
 'against',
 'and',
 'arms',
 'arrows',
 'be',
 'by',
 'die',
 'end',
 'flesh',
 'fortune',
 'heartache',
 'heir',
 'in',
 'is',
 'mind',
 'more',
 'natural',
 'nobler',
 'not',
 'of',
 'opposing',
 'or',
 'outrageous',
 'question',
 'say',
 'sea',
 'shocks',
 'sleep',
 'slings',
 'suffer',
 'take',
 'that',
 'the',
 'them',
 'thousand',
 'to',
 'troubles',
 'we'}

In [56]:
words = {word for word in all_words if len(word) > 4}

In [57]:
words

{'Whether',
 'against',
 'arrows',
 'flesh',
 'fortune',
 'heartache',
 'natural',
 'nobler',
 'opposing',
 'outrageous',
 'question',
 'shocks',
 'sleep',
 'slings',
 'suffer',
 'thousand',
 'troubles'}

In [58]:
words = {word.lower() for word in all_words if len(word) > 4}

In [59]:
words

{'against',
 'arrows',
 'flesh',
 'fortune',
 'heartache',
 'natural',
 'nobler',
 'opposing',
 'outrageous',
 'question',
 'shocks',
 'sleep',
 'slings',
 'suffer',
 'thousand',
 'troubles',
 'whether'}

In [60]:
data = ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'c', 'd']

In [62]:
freq = {}

for element in set(data):
    count = len([char for char in data if char == element])
    freq[element] = count

freq

{'a': 3, 'c': 3, 'd': 1, 'b': 2}

In [63]:
freq = {element : len([char for char in data if char == element]) for element in set(data)}
freq

{'a': 3, 'c': 3, 'd': 1, 'b': 2}

In [64]:
from collections import Counter

In [65]:
data = ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'c', 'd']

In [66]:
freq = Counter(data)
freq

Counter({'a': 3, 'b': 2, 'c': 3, 'd': 1})

In [67]:
dict(freq)

{'a': 3, 'b': 2, 'c': 3, 'd': 1}

In [68]:
paragraph = """
To be, or not to be--that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune
Or to take arms against a sea of troubles
And by opposing end them. To die, to sleep--
No more--and by a sleep to say we end
The heartache, and the thousand natural shocks
That flesh is heir to.
"""

In [69]:
freq = Counter(paragraph)

In [70]:
dict(freq)

{'\n': 9,
 'T': 5,
 'o': 25,
 ' ': 55,
 'b': 6,
 'e': 31,
 ',': 3,
 'r': 15,
 'n': 17,
 't': 25,
 '-': 6,
 'h': 16,
 'a': 20,
 'i': 11,
 's': 21,
 'q': 1,
 'u': 8,
 ':': 1,
 'W': 1,
 "'": 1,
 'l': 7,
 'm': 4,
 'd': 9,
 'f': 6,
 'g': 4,
 'w': 2,
 'O': 1,
 'k': 2,
 'A': 1,
 'y': 3,
 'p': 4,
 '.': 2,
 'N': 1,
 'c': 2}

In [82]:
ignored = ',.-\n\''

In [83]:
freq = Counter(paragraph.casefold())

In [84]:
freq

Counter({'\n': 9,
         't': 30,
         'o': 26,
         ' ': 55,
         'b': 6,
         'e': 31,
         ',': 3,
         'r': 15,
         'n': 18,
         '-': 6,
         'h': 16,
         'a': 21,
         'i': 11,
         's': 21,
         'q': 1,
         'u': 8,
         ':': 1,
         'w': 3,
         "'": 1,
         'l': 7,
         'm': 4,
         'd': 9,
         'f': 6,
         'g': 4,
         'k': 2,
         'y': 3,
         'p': 4,
         '.': 2,
         'c': 2})

In [85]:
freq = {key:value for key,value in freq.items() if key not in ignored}

In [86]:
freq

{'t': 30,
 'o': 26,
 ' ': 55,
 'b': 6,
 'e': 31,
 'r': 15,
 'n': 18,
 'h': 16,
 'a': 21,
 'i': 11,
 's': 21,
 'q': 1,
 'u': 8,
 ':': 1,
 'w': 3,
 'l': 7,
 'm': 4,
 'd': 9,
 'f': 6,
 'g': 4,
 'k': 2,
 'y': 3,
 'p': 4,
 'c': 2}