The range function

In [3]:
range(10)

range(0, 10)

In [4]:
print(range(10))

range(0, 10)

In [5]:
type(range(10))

range

In [6]:
list('abc')

['a', 'b', 'c']

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
tuple('abc')

('a', 'b', 'c')

In [9]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [10]:
list(range(3, 9))

[3, 4, 5, 6, 7, 8]

In [11]:
len(range(3, 9))

6

In [12]:
len(range(10))

10

In [13]:
list(range(2,10,2))

[2, 4, 6, 8]

For loops

In [14]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']

In [15]:
for suit in suits:
    print(f'{suit[0].upper()} = {suit}')

S = Spades
H = Hearts
D = Diamonds
C = Clubs

In [16]:
for c in 'python':
    print(c)

p
y
t
h
o
n

In [17]:
c

'n'

In [18]:
suit

'Clubs'

In [19]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [20]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [21]:
for i in range(3):
    for j in range(3):
        print(f'i={i}, j={j}')
    print('-'*10)

i=0, j=0
i=0, j=1
i=0, j=2
----------
i=1, j=0
i=1, j=1
i=1, j=2
----------
i=2, j=0
i=2, j=1
i=2, j=2
----------

In [22]:
m = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [23]:
for row in range(3):
    for col in range(3):
        print(f'[{row}, {col}] = {m[row][col]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

In [24]:
for row in range(len(m)):
    for col in range(len(m[row])):
        print(f'[{row}, {col}] = {m[row][col]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

In [25]:
m = [
    [0,1],
    [2,3,4,5,6],
    [7,8,9],
    [10]
]

In [26]:
for row in range(len(m)):
    for col in range(len(m[row])):
        print(f'[{row}, {col}] = {m[row][col]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

In [34]:
n = 10
matrix = []

for row_idx in range(n):
    row = []
    for col_idx in range(n):
        if row_idx == col_idx:
            row.append(1)
        else:
            row.append(0)
    matrix.append(row)

In [35]:
matrix

[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]]

In [1]:
data = [10,20,30]

In [2]:
list(enumerate(data))

[(0, 10), (1, 20), (2, 30)]

In [3]:
for t in enumerate(data):
    print(t)

(0, 10)
(1, 20)
(2, 30)

In [4]:
for idx, el in enumerate(data):
    print(idx, el)

0 10
1 20
2 30

In [5]:
m = [
    [0,1],
    [2,3,4,5,6],
    [7,8,9],
    [10]
]

In [7]:
for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
        print(m[row_idx][col_idx])

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for row in m:
    for element in row:
        print(element)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
for row_idx, row in enumerate(m):
    for col_idx, element in enumerate(row):
        print(row_idx, col_idx, element)

0 0 0
0 1 1
1 0 2
1 1 3
1 2 4
1 3 5
1 4 6
2 0 7
2 1 8
2 2 9
3 0 10

In [10]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

In [11]:
count = sum(1 for val in data if val is not None)
total = sum(val for val in data if val is not None)
average = total / count
data = [val if val is not None else average for val in data]
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [12]:
from statistics import fmean

In [13]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

In [14]:
average = fmean(val for val in data if val is not None)

In [15]:
average

10.75

In [16]:
average = fmean(val for val if val is not None in data)

SyntaxError: expected 'else' after 'if' expression (61897751.py, line 1)

In [18]:
import pandas as pd

In [19]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
df = pd.DataFrame(data)
df.fillna(df.mean(), inplace=True)
df[0].tolist()

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

While Loops

In [21]:
price = 100

while price > 90:
    print(f'price = {price}')
    price -= 1
print(f'buying at {price}')

price = 100
price = 99
price = 98
price = 97
price = 96
price = 95
price = 94
price = 93
price = 92
price = 91
buying at 90

In [22]:
data = [100, 200, 300, 400, 500]
while len(data) > 0:
    last_element = data.pop()
    print(f'processing element {last_element}')

processing element 500
processing element 400
processing element 300
processing element 200
processing element 100

Continue, Break and Else

In [23]:
for i in range(100):
    print(i)
    if i >= 5:
        print('Breaking out of loop')
        break
print('Done')

0
1
2
3
4
5
Breaking out of loop
Done

In [24]:
for i in range(1, 11):
    if i % 2 == 1:
        # odd number
        continue
    print(i)

2
4
6
8
10

In [25]:
for i in range(1, 11):
    if i % 2 == 0:
        # even number
        print(i)

2
4
6
8
10

In [26]:
for i in range(1, 5):
    for j in range(1, 5):
        if (i+j) % 2 == 1:
            print(f'{i} + {j} is odd, skipping...')
            continue
        print(f'adding numbers: {i} + {j} = {i+j}')

adding numbers: 1 + 1 = 2
1 + 2 is odd, skipping...
adding numbers: 1 + 3 = 4
1 + 4 is odd, skipping...
2 + 1 is odd, skipping...
adding numbers: 2 + 2 = 4
2 + 3 is odd, skipping...
adding numbers: 2 + 4 = 6
adding numbers: 3 + 1 = 4
3 + 2 is odd, skipping...
adding numbers: 3 + 3 = 6
3 + 4 is odd, skipping...
4 + 1 is odd, skipping...
adding numbers: 4 + 2 = 6
4 + 3 is odd, skipping...
adding numbers: 4 + 4 = 8

In [27]:
for i in range(1, 4):
    for j in range(1, 4):
        if j >= 3:
            break
        print(i, j)
    print('-'*10)

1 1
1 2
----------
2 1
2 2
----------
3 1
3 2
----------